/** @format */

@use "variables";
@use "mixins";

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
  background-color: variables.$Light-grayish-blue;
  border-radius: 4px;
  padding: 0 10px; ;
  &__minus {
    @include mixins.input-btn(26px, 5px);
  }
  &__number {
    width: 100%;
    border: none;
    background-color: variables.$Light-grayish-blue;
    font-size: 1.2em;
    font-weight: variables.$font-bold;
    font-family: variables.$Font-family;
    text-align: center;
    outline: none;
  }
  &__plus {
    @include mixins.input-btn(20px, 3px);
  }
  &__button{
    @include mixins.button;
  }
}


